
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="content">
            <h1 class="text-center mb-4">News Summarizer</h1>
            <form action="/summary" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
                <label for="image" class="form-label">Enter a URL :</label>
                <input type="url" name="url" id="url"
                class="form-control" placeholder="Enter a url: e.g. bbc.com/news" required>
                <button type="submit" class="btn btn-primary mt-3" style="margin-bottom: 5px;">Summarize News</button>
            </form>
            <!-- Loading spinner -->
            <div class="spinner-border text-primary" role="status" style="display:none;" id="loadingSpinner">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>
    <!-- Add script for chart and loading spinner -->
    <script>
        // Function to show loading spinner when the form is submitted
        function showLoading() {
            // Display the loading spinner
            document.getElementById('loadingSpinner').style.display = 'inline-block';

            // Disable the submit button to prevent multiple submissions
            document.getElementById('submitBtn').disabled = true;
        }
    </script>

{% endblock %}